<JumboHeader>
  <h2>About Fakebnb</h2>
  <p>
    Fakebnb is the place to be! Don't miss out! Book Now.
  </p>
  <LinkTo @route="contact" class="button contact">Contact Us</LinkTo>
  <LinkTo @route="index" class="button home">Home</LinkTo>
</JumboHeader>