<JumboHeader>
  <h2>Contact Us</h2>
  <p>
    Fakebnb is the place to be! Don't miss out! Book Now.
  </p>
  <address>
    Fakebnb HQ
    <p>
      Fakebnb Avenue<br>
      Fakerville, Faker XXXXX
    </p>
    <a href="tel:777.777.7777">+1 (777) 777-7777</a><br>
    <a href="https://en.wikipedia.org/wiki/Sour_Patch_Kids"></a>
  </address>
  <LinkTo @route="about" class="button about">About Us</LinkTo>
  <LinkTo @route="index" class="button home">Home</LinkTo>
</JumboHeader>