<JumboHeader>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button about">About Us</LinkTo>
  <LinkTo @route="contact" class="button contact">Contact Us</LinkTo>
</JumboHeader>

<div class="rentals">
  <ul class="results">
    {{#each @model as |rental|}}
      <li><RentalCard @rental={{rental}} /></li>
    {{/each}}
  </ul>
</div>